<%-include ('header')-%>
<style>.my-custom-scrollbar {
  position: relative;
  height: 900px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }</style>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-bordered table-striped mb-0">
  <% for (question of question) {%>
    <tr>
    <div class="card  border-primary mb-3" style="width: 100%; margin: auto">
      <div class="card-header">
        <%= question.userNameQst %>
      </div>
      <div class="card-body">
      <p class="card-text"> <div class="comment">

                <div class="content"> <%= question.content %></div>


                  <form action="http://localhost:8080/question/delete/<%=question.id%>" method="get" class=" ui for"></form>

                </form>
              </div>
        <br></p>
        <% if(question.idUserqst === userid) {%>
        <a  class="card-link" type="submit" href="http://localhost:8080/question/delete/<%=question.id%>" value="Delete">Delete</a>
        <%}%>
        <a  class="card-link" type="submit" href="http://localhost:8080/question/answer/<%= question.id %>" value="answer" method="get">View answers</a>
      </div>
      <div class="card-footer text-muted">
        <%= question.createdat %>
      </div>
    </div>
    </tr>
    <% }%>
    </div>
  </table>
</div>

<div class="container" style="width: 100%;
justify-content: center;
align-items: center">
<form action="http://localhost:8080/question/question" method="post" class=" ui for">
  <div class="field">
      <label for="message">Add your question</label>
      <textarea class="form-control" name="message" id="message"  rows="3"></textarea>
      <input type="submit" name="Submit" value="Submit" class="btn btn-primary" class="cs3_save">
  </div>
</form>
</div>



<%-include ('footer')-%>
