<%-include ('../pages/header')%>
<style>.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }</style>
<div class="card bg-light mb-3 border-primary mb-3" style=" max-width: 800px;
margin: auto;" >
    <div class="card-header"><%= question.userNameQst%></div>
    <div class="card-body">



      <p class="card-text"><%= question.content%></p>

    </div>
  </div>


<form action="http://localhost:8080/question/answer/<%=question.id%>" method="post" class=" ui for"style="max-width: 100rem ;max-width: 800px;
    margin: auto;">
    <div class="field">
        <label>Add an answer</label>
        <textarea class="form-control" name="reply"   rows="3"></textarea>
        <br>
        <input type="submit" name="answer" value="Submit" class="btn btn-primary" class="cs3_save" >

    </div>

</form>

<h3>Answer</h3>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-bordered table-striped mb-0">
    <div class="comment">
        <% for (var i=0;i< answer.length;i++){%>
            <% if(answer[i].qid===question.id) {%>
              <tr>
        <div class="card border-primary mb-3">
            <div class="card-header">
              <%= answer[i].userNameRes %>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p><%= answer[i].cont %></p>
                <a  class="card-link" type="submit" href="http://localhost:8080/question/Adelete/<%=answer[i].idr%>" value="Delete">Delete</a>
                <%} else {%>
            </p></p>

              </blockquote>
            </div>
            </tr>
            <%}%>

          </div>

        <%}%>
        <br>
          </div>

    </table>
  </div>
